.numbershow{
    font-size: 70px;
    width: 450px;
    height: 60px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.numberValue{
    font-size: 30px;
    width: 250px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
button{
    font-size: 20px;
    padding: 16px;
    margin: 10px;
    width: 200px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
label{
    font-size: 25px;
}